@{
    ViewBag.Title = "About";
}
    <!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('../../img/about-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <hr class="small">
                    <span class="subheading">"A goal without a timeline is just a dream" - Robert Herjavec</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>My name is Maneesh. I enjoy creating things and repairing things that are broken. 
            There are many failed attempts at repairing things around the house like the washer in my basement.
            But more often than not, I get things done and I love it.
            </p>
            <p>I have an amazing group of friends and they are awesome. We all share a few things in common: 
            we are all very ambitious, we all are very inquisitive and we all want to be millionares. Well not all of us.
            But hey, we all are dreamers.</p>
            <p>This blog is an attempt to capture the best phase of our lives. We have never been more capable, 
            more energtic and full of life than now. It is like a mordern day time-capsule for us.</p>
        </div>
    </div>
</div>
<hr>